.panier-vide{
    background: white;
    width: fit-content;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 15px;
    border: 1px solid #e3e3e3;
    margin: auto;
}

.scroll {
	position: fixed !important;
	top: 0px !important;
}



 .object-bloc{
    padding: 2rem;
}
.bloc-text{
    margin-left: 15px;
}
.bloc-text h3{
    text-decoration: underline;
}
.bloc-text p{
    width: 95%;
}
.bloc-2 *{
    text-align: center;
}

input[type="number"] {
    padding: 0px;

}
select {
    padding: 3px;
    min-width: 120px;
}

tr{
    vertical-align: middle;
}

.block-photo{
    /* height: 5rem; */
    width: 14vw;
    background-color: grey;
}

#option-select{
    width: -webkit-fill-available;
    width: -moz-available;
}
 #quantite{
     text-align: center;
     max-width: 4rem; 
     margin: auto; 
} 



.resume-price{
    /* width: 25%; */
    padding: 1rem;
    position: absolute;
    /* top: 150px; */
    right: 130px;
}

.resume-price tr td:nth-child(2){
    text-align: end;
}

.btn-achat{
    width: 100%;
}
.btnAccept{
    width: 1rem;
    height: 1rem;
    background-color: rgba(0, 131, 39, 0.075);
}
.btnRefuse{
    width: 1rem;
    height: 1rem;
    background-color: rgba(0, 131, 39, 0.075);
}

.forumlaire-panier{
    padding: 3rem;
    margin-top: 2.5rem;

}
.forumlaire-panier .form-group{
    margin: .5rem 0;
}
.forumlaire-panier .form-select{
    width: auto;
}
fieldset span{
    color: rgb(255, 0, 0);
}

.valid{
    border: 1px rgb(32, 190, 0) solid;
    position: relative;
}
.invalid{
    border: 1px rgb(190, 0, 0) solid;
}
.invalid-message::after{
    content :"champ vide";
    color: rgb(190, 0, 0);
}
.invalid-email::after{
    content :"email invalide";
    color: rgb(190, 0, 0);
}




@media screen and (min-width: 1449px){
    .resume-price {
        top: 150px;
    }
}
@media screen and (max-width: 1550px){
    .cart-section{
     padding: 20px;   
    }
    .resume-price {
        top: 90px ;
        right: 55px !important;
    }
}
@media screen and (max-width: 1400px){
    .resume-price{
        width: 60%;
        margin: 30px auto;
        padding: 1rem;
        position: initial;
    }
}

@media screen and (max-width: 950px){
    .object-bloc {
        flex-direction: column;
    }
    .bloc-2{
        justify-content: space-evenly;
        margin-top: 20px;
    }
}
@media screen and (max-width: 600px){
    .resume-price{
        width: 100%;
    }
    .object-bloc {
        flex-direction: row;
        justify-content: space-between;
    }
    .block-photo{
        width: 35vw;
    }
    .bloc-text p{
        display: none;
    }
    .bloc-1, .bloc-2{
        flex-direction: column;
    }
    .bloc-2{
        margin-top: 0;
    }
    .bloc-2 *{
        margin-top: 5px;
    }

    form .row{
        flex-direction: column;
    }
    
}
@media screen and (max-width: 400px){
    .object-bloc {
        flex-direction: column;
        text-align: center;

    }
}